*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: monospace;

  color: white;
  background-color: hsl(275, 100%, 75%);
}
